<!DOCTYPE html>
<html lang="en">
<head>
    {{>headrelinks}}
     <link rel="stylesheet" href="public/css/style.css"/>
    <title>Document</title>
</head>
<body>
    
    {{>header}}
    <h1 style="{color:red}">hiiiieeee!!!!!!</h1>
    <p>shruti index </p>
    {{>footer}}
</body>
</html>
